<html>
<body>
    <div id="content">
        <div id="leftBlock">
            <h1>Interscore</h1>
            <hr>
            <p>
                The web application that implements an interview scoring system. Allows recruiters to select and evaluate interviewees, and interviews to interview and receive feedback. 
            </p>
        </div>
        <div id="rightBlock">
            <button onclick="location.href = '/login'">Login</button>
            <button onclick="location.href = '/registration'">Register</button>
        </div>
    </div>
</body>
</html>