<div id="header">
    <h2><a href="/">Interscore</a></h2>
    <div id="bio"><h2>{{user.email}} | <a style="display: {{isAuth ? 'unset' : 'none'}}" id="logout" href="#" (click)="logout()">Logout</a></h2></div>
</div>
<div id="content">
    <div id="profile">
        <h2>Interviewee Profile</h2>
        <div id="secs">
            <div class="sections" id="section1">
                <img src="{{user.photo}}" alt="Изображение профиля">
                <label for="AddImage" class="customFileUpload">
                    Upload Photo
                </label>
                <input type="file" name="AddImage" id="AddImage" accept="image/*"/>
                <ul>
                    <li>{{user.surname}} {{user.name}} {{user.patronymic}}</li>
                    <li>{{user.birthday}}</li>
                    <li></li>
                    <li>{{user.phone}}</li>
                    <li>{{user.email}}</li>
                    <li></li>
                </ul>
                <p>Edit profile</p>
            </div>
            <div class="sections" id="section2">
                <h3>My Interviews</h3>
                <hr>
                <div class="plusContainer">
                    <div class="export" id="exportInterview">e</div>
                    <div class="plus" onclick="location.href = '/createInterview'" id="plusInterview">+</div>
                </div>
            </div>
            <div class="sections" id="section3">
                <h3>My Polls</h3>
                <hr>
                <div class="plusContainer">
                    <div class="export" id="exportPolls">e</div>
                    <div class="plus" onclick="location.href = '/createPoll'" id="plusPolls">+</div>
                </div>
            </div>
        </div>
    </div>
</div>
